/*

Date:	      	        26.11.2010

Version:		1.0

Author:			Lucas Adamski

Author URI:		http://www.MinisiteShark.com

*/



body {font-family:arial;font-size:15px;color:#000000;line-height:21px;margin:0;padding:0; text-align:left;}

p {font-family:arial;font-size:15px;color:#000000;line-height:21px;}

a {color:#2569be; font-weight:bold;}

.signature {font-family:arial;font-size:19px;color:#000000;line-height:26px;text-align:left; font-weight:bold;font-style:italic; padding-bottom:10px;}

.ps {font-family:arial;font-size:15px;color:#000000;line-height:20px;text-align:left; font-weight:normal;font-style:normal;padding-top:15px;padding-bottom:0px;}

.disclaimer {font-size:9px;margin-bottom:14px; border:0px solid #959595;padding:5px;line-height:15px;color:#6b7891;}
.footer-secure {font-size:9px;margin-bottom:14px;margin-top:5px; border:1px solid #efefef;padding:5px;}

.footer a {font-family:verdana; font-size:10px; color:#585858; text-decoration:none; text-align:center;font-weight:normal;}
.footer a:hover {text-decoration:underline;}
.footer {font-family:verdana; font-size:10px; color:#585858; text-decoration:none;  text-align:center; padding:0;padding-top:0px; padding-bottom:0px;width:420px;line-height:17px;padding-bottom:43px;}

.header1 {font-family:"trebuchet ms",arial, "Times New Roman", Times, serif; font-size:67px; color:#dd4f2a; line-height:30pt; text-align:center; font-weight:bold;padding-top:45px; letter-spacing:-2px;}

.header2 {font-family:"trebuchet ms",arial, "Times New Roman", Times, serif; font-size:18px; color:#34566a; line-height:30pt; text-align:center; font-weight:normal;padding-top:28px; padding-right:0px; letter-spacing:-1px;}

.head0 {font-family:arial, "Times New Roman", Times, serif; font-size:36px; color:#c7320a; line-height:32pt; text-align:center; font-weight:bold;padding:0 40px;padding-bottom:23px;padding-top:7px; letter-spacing:-1px;font-style:normal;}

.head3 {font-family:arial, "Times New Roman", Times, serif; font-size:21px; color:#6f7e9b; line-height:22pt; text-align:center; font-weight:normal;padding-bottom:32px;padding-top:13px; letter-spacing:-1px;}

.head4 {font-family:arial, "Times New Roman", Times, serif; font-size:28px; color:#2b4168; line-height:25pt; text-align:center; font-weight:normal;padding-bottom:7px; letter-spacing:-1px; padding-top:6px;}



.bullet {font-family:arial, "Times New Roman", Times, serif; font-size:15px; color:#b60101; line-height:22pt; text-align:left;}

.style1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 29px;
	color: #CC0000;
}

ul
{
list-style-type: none;
padding: 0;
margin: 0;
padding-top:10px; margin:0 10px;
}

li
{
background-image: url(images/cb_29.jpg);
background-repeat: no-repeat;
background-position: 0 .16em;
padding-left: 1.5em;
margin: 13px 0;
font-family:arial, "Times New Roman", Times, serif; font-size:15px; color:#000000; line-height:15pt; text-align:left;
}

.author {font-family:arial;font-size:14px;color:#221713;line-height:22px;font-weight:normal; }
.author-img {margin-right:8px;border:2px solid #221713;}



.head2 {font-family:arial, "Times New Roman", Times, serif; font-size:24px; color:#575b5f; line-height:22pt; text-align:left; font-weight:bold; background:url(images/ss_25.jpg) no-repeat; width:583px;height:68px; padding-top:30px; padding-left:35px;}
.test2 {font-family:arial, "Times New Roman", Times, serif; font-size:14px; line-height:21px; color:#4d4d4d; position:relative;bottom:27px;  text-align:left;padding:27px 0px; width:515px; padding-bottom:0px;}


.order {background:url(images/p_10.jpg) no-repeat; width:492px; height:198px; border:0;margin-bottom:10px;margin-top:10px;margin-right:0px;}
.order a {border:0;}
form {margin:0;padding:0;}


.vidbox {border:3px solid #2b4168;margin-top:20px;}



.cen {text-align:center;}



.optinbox {border:4px dashed #db0101; background-color:#fffcf4; margin:10px; font-family:"trebuchet ms", arial; font-size:14px; color:black;}
.optinprivacy {text-align:center;}
.optinprivacy a {font-size:9px;text-align:center;color:gray;}
.optinsubmit {width:200px; height:60px; font-family:"trebuchet ms", arial; font-size:17px; font-weight:bold; background-color:#db0101; border:2px inherit #db0101; color:white;}
.optintext {text-align:center;font-weight:bold;font-size:16px;}
.optinhead { font-family:"trebuchet ms", arial; font-size:20px; color:black;font-weight:bold; padding:10px;padding-top:30px;}

.capture li
{
background-image: url(images/ss_12.jpg);
background-repeat: no-repeat;
background-position: 0 .88em;
padding-left: 2.1em;
padding-top:10px;
font-family:arial, "Times New Roman", Times, serif; font-size:16px; color:#b60101; line-height:16pt; text-align:left;
}





.testimonial1 {background:url(images/cp_10.jpg) no-repeat;}
.testimonial2 {background:url(images/cp_13.jpg) repeat-y;}
.testimonial3 {background:url(images/cp_15.jpg) bottom no-repeat; padding-bottom:36px;}
.testimonial-head {font-family:arial, "Times New Roman", Times, serif; font-size:24px; color:#5ba1cd; line-height:22pt; text-align:center; font-style:normal; font-weight:bold;padding-top:10px;letter-spacing:-0px;}
.testimonial-text {font-family:arial, "Times New Roman", Times, serif;  font-size:14px; line-height:20px; color:#3a3a3a; font-style:italic;padding:0px 31px;padding-top:15px;text-align:left;}

.product1 {background:url(images/cp_17.jpg) no-repeat;}
.product2 {background:url(images/cp2_20.jpg) repeat-y;}
.product3 {background:url(images/cp2_22.jpg) bottom no-repeat; padding-bottom:26px;}
.product-head {font-family:arial, "Times New Roman", Times, serif; font-size:19px; color:#000000; line-height:22pt; text-align:center; font-style:normal;font-weight:bold;letter-spacing:0px;padding-bottom:2px;padding-top:0px;}
.product-text {font-family:arial, "Times New Roman", Times, serif;  font-size:15px; line-height:20px; color:#000000; font-style:normal; padding:0px 32px;padding-top:10px;}

.bonus1 {background:url(images/so_27.jpg) no-repeat;}
.bonus2 {background:url(images/so_29.jpg) repeat-y;}
.bonus3 {background:url(images/so_31.jpg) bottom no-repeat; padding-bottom:27px;}
.bonus-head {font-family:"trebuchet ms",arial, "Times New Roman", Times, serif; font-size:21px; color:#ffffff; line-height:22pt; text-align:center; font-style:normal;font-weight:bold;letter-spacing:0px;padding-bottom:0px;padding-top:0px;}
.bonus-text {font-family:arial, "Times New Roman", Times, serif;   font-size:15px; line-height:21px; color:#2a2a2a; font-style:normal; padding:0px 2px;padding-top:12px;}


.subhead {font-family:"trebuchet ms",arial; color:#d44836;line-height:38px;font-weight:bold; text-align:Center; font-size:32px;padding:0px 127px; padding-top:50px;text-transform:uppercase;}

.author-img {margin-right:8px;border:1px solid #504340;}
.bigletter {
    float: left;
    font-size:55pt;
    line-height: 0.8;
    margin-left: 0px;
    color:#2b4168;
    font-family:arial;
}



.guarantee-table {border:1px dashed #d0e0e9;background-color:#f9fbfd;padding:16px;margin:10px;}
.guarantee-head {font-family:arial, "Times New Roman", Times, serif; font-size:24px; color:#62859b; line-height:23pt; text-align:center; font-style:normal; font-weight:normal;margin-left:0px;margin-bottom:0px;padding:0px 0px;letter-spacing:-0px;}
.guarantee-text {font-family:arial;font-size:15px;color:#000000;line-height:20px;;  font-style:normal;  padding-bottom:0px; text-align:left;padding:5px 0px;padding-top:14px;}



.disclaimer {font-size:9px;margin-bottom:14px; border:0px solid #9da98b;padding:5px;line-height:15px;}
.footer-secure {font-size:9px;margin-bottom:14px;margin-top:5px; border:3px solid #fff;padding:0px;}
